{% extends "base.html" %}
{% load static %}

{% block title %}My Orders{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/order.css'%}">
{% endblock %}

{% block content %}
    <h1 class="page-title">My Orders</h1>
    {% if orders %}
        {% for order in orders %}
            <div class="order-container">
                <div class="order-header">
                    <div class="order-header-row">
                        <div class="order-header-item">
                            <div class="order-header-label">ID</div>
                            <div class="order-header-value">{{ order.id }}</div>
                        </div>
                        <div class="order-header-item">
                            <div class="order-header-label">Total Cost</div>
                            <div class="order-header-value">{{ order.cart_total }}</div>
                        </div>
                        <div class="order-header-item">
                            <div class="order-header-label">Coordinates</div>
                            <div class="order-header-value">{{ order.x_coordinate }}, {{ order.z_coordinate }}</div>
                        </div>
                    </div>
                    <div class="order-header-row">
                        <div class="order-header-item">
                            <div class="order-header-label">Date Delivery</div>
                            <div class="order-header-value">{{ order.date_delivery }}</div>
                        </div>
                        <div class="order-header-item">
                            <div class="order-header-label">Status</div>
                            <div class="order-header-value">{{ order.status }}</div>
                        </div>
                    </div>
                </div>
                {% if request.user.is_superuser and order.status != 'cancelled' and order.status != 'delivered' %}
                    <div class="order-header-item">
                        <form action="{% url 'refund_order' order.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Refund Order</button>
                        </form>
                    </div>
                {% endif %}
                <table class="order-items">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Items</th>
                            <th>Cost</th>
                            <th>Quantity</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order_item in order.orderitem_set.all %}
                            <tr>
                                <td><img src="{{ order_item.item.image.url }}" alt="{{ order_item.item.name }}"></td>
                                <td>{{ order_item.item.name }}</td>
                                <td>{{ order_item.price }}</td>
                                <td>{{ order_item.quantity }}</td>
                                <td>${{ order_item.subtotal }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    {% else %}
        <p class="no-orders-message">You have no orders.</p>
    {% endif %}
{% endblock %}