{% extends 'base.html' %}
{% load static %}

{% block title %}Wishlist{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/cart.css'%}">
{% endblock %}

{% block content %}
    <h1>My Wishlist</h1>
    {% if wishlists %}
    <table class="cart">
        <thead>
          <tr>
            <th></th>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for wishlist in wishlists %}
            <tr>
              <td><img src="{{ wishlist.item.image.url }}" alt="{{ wishlist.item.name }}"></td>
              <td>{{ wishlist.item.name }}</td>
              <td>${{ wishlist.item.price }}</td>
              <td>
                <div class="quantity">
                  <form method="POST" action="{% url 'decrement_wishlist_item' wishlist.id %}">
                    {% csrf_token %}
                    <button class="minus-btn" type="submit"><i class="fa-solid fa-minus"></i></button>
                  </form>
                  <form id="updateForm" method="POST" action="{% url 'update_wishlist_item' wishlist.id %}">
                    {% csrf_token %}
                    <input id="quantityInput" type="number" name="quantity" value="{{ wishlist.quantity }}" data-id="{{ wishlist.id }}">
                  </form>
                  <form method="POST" action="{% url 'increment_wishlist_item' wishlist.id %}">
                    {% csrf_token %}
                    <button class="plus-btn" type="submit"><i class="fa-solid fa-plus"></i></button>
                  </form>
                </div>
              </td>
              <td>${{ wishlist.get_total_item_price }}</td>
              <td><a href="{% url 'remove_from_wishlist' wishlist.id %}"><i class="fa-solid fa-xmark"></i></a></td>
              <td>
                <div class="add-to-cart">
                  <form method="POST" action="{% url 'add_to_cart' wishlist.item.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="quantity" value="{{ wishlist.quantity }}">
                    {% if wishlist.item.stock != 'out of stock' %}
                      <form method="POST" action="{% url 'add_to_cart' wishlist.item.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="quantity" value="{{ wishlist.quantity }}">
                        <button class="add-to-cart-btn" type="submit">Add to Cart</button>
                      </form>
                    {% else %}
                      <form method="POST" action="{% url 'add_to_cart' wishlist.item.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="quantity" value="{{ wishlist.quantity }}">
                        <button class="add-to-cart-btn button-red " type="submit" disabled>Out of Stock</button>
                      </form>
                    {% endif %}
                  </form>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
        <p>You have no items in your wishlist.</p>
    {% endif %}
{% endblock %}